In [1]:
# ANS 1 :
# Database is a systematic collection of data of which support storage and manipulation  of data in a easy way

# SQL (structured query language)
# 1. used for dealing  relational databases 
# 2. These databases are best suited for complex queries
# 3. follows acid property 
# 4. examples : mysql , db2 , mssql

# NoSql(not only sql)
# 1. These  databases are in structured way as well as in  unstuructured way
# 2 . follows cap property 
# 3 . they are not so good for complex queries 
# 4 . examples : mongodb , db2  , cassandra

In [1]:
# ANS 2:
# DDL : Data Defination language 
# you can independently create a database define its structure , use it and then discard it when you are done with it

# "create" is used to create  a table or a database  
# example create table table_name(c1 datatype , c2 datatype ,...);

#  "drop" is used to drop a table in a database
# example : drop table table_name;

# "alter" is used to modify the table 
# example : ALter table table_name
#         add (c1 datatype , c2 datatype ,...);

# "Truncate"  is ised to deletes all  data inside a table 
# example : truncate table table_name

In [2]:
# ANS 3:
# DML : data manuplation language which includes commands which is used to manuplate the data 

# "insert" is used to insert tables and values in databases
# example insert into  table_name values (  );

# "update" is used to update any value in a database 
# example : update table_name
#           set value1 = value2 , value3 = value4;

# " delete" is used to delete a particular value in a table
# DELETE FROM table_name WHERE value1 = value2;

In [3]:
# ANS 4:
# " DQL" data query language is used performing queries on the data within schema
# select is used to select a particlar value from the table
# example select * from table_name; ( gives you the whole table)

In [4]:
# ANS 5:
# primary key : it is a constraint  which ensures that column cannot have null value and column should have unique value
# foreing key : it is also a constraint , it is used to prevent actions that would destroy links between tables.

In [5]:
# ANS 6 :
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test2")


# cursor() method is used to iterate through databases 
# execute () : method executes the given database operation (query or command)

ModuleNotFoundError: No module named 'mysql'

In [ ]:
# ANS 6:
# order :
# 1. from
# 2 .where
# 3. group by 
# 4. having 
# 5. selct 
# 6 . order by
# 7 . limit